snippet af "arrow function"
	const ${1} = (${2}) => {
		${0}
	}

snippet aaf "async arrow function"
	const ${1} = async (${2}) => {
		${0}
	}

snippet desc "describe block"
	describe('${1}', () => {
		${0}
	})

snippet it "test case"
	it('${1}', () => {
		${0}
	})

snippet ait "async test case"
	it('${1}', async () => {
		${0}
	})
